@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('assets/logo.png'),auto;
}

html, body {
    height: 100%;
    overflow: hidden;
    transition: 0.2s;
}

#beginBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    height: 50px;
    width: 200px;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.85);
    display: block;
    transition: 0.2s;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

#beginBtn:hover{
    color: white;
    box-shadow: 8px 8px 20px black;
    width: 220px;
}

#newYear {
    top: 130%;
    left: 50%;
    color: black;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 6rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
}

.dropDown {
    margin-top: 60%;
    transition: 0.4s ease-in;    
}

.DropIn {
    top: 50% !important;
    transition: 0.4s ease-out;
}

.DropInYear {
    top: 20% !important;
    transition: 0.4s ease-out;
}

.DropInNewYear {
    top: 50% !important;
    transition: 1s ease-out;
    text-shadow: 2px 2px 5px white !important;
}

#time, #year {
    position: absolute;
    font-style: italic;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 10rem;
    color: white;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px black;
}

#year {
    font-size: 6rem;
}


.event {
    color: white;
    width: 300px;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    position: absolute;
}

.left {
    top: -20%;
    left: 20%;
    transform: translate(-50%, -50%);
    
}

.right {
    top: -20%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.dropEvent {
    transition: 5.7s ease;
    top:130%
}

svg {
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.expand {
    height: 440px;
    width: 440px;
    transition: 0.5s;
    color: black;
}

.disappearText {
    font-size: 0 !important;
    transition: 0.3s;
}

.disappearCircle {
    width: 0;
    height: 0;
    transition: 0.3s;
}

.biggerFont {
    font-size: 9rem !important;
    transition: 0.3s;
    color: black !important;
    text-shadow: 2px 2px 5px white !important;
}


.appearCircle {
    height: 440px;
    width: 440px;
    transition: 0.5s;
    color: white;
}

#quote {
    position: absolute;
    font-style: italic;
    color: rgba(0, 0, 0, 0.85);
    width: max-content;
    color: white;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 5px black;
}

.DropInQuote {
    top: 95% !important;
    transition: 1s;
}

.themeDiv {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 1s;
    width: 80px;
    height: 80px;
}

.themeBtns {
    position:absolute;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: 0.3s;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: .8rem;
}

#themeBtn {
    z-index:1;
}

#themeBtn:hover{
    color: white;
    box-shadow: 8px 8px 15px black;
    text-shadow: 1px 1px 2px black;
}

.invisible {
    width: 0;
    height: 0;
    font-size: 0;
    margin: 50px
}

.moveRight {
    right: -20%;
}

.popUp {
    margin-bottom: 100px;
}

.popLeft {
    margin-right: 100px;
}

.popDiag {
    margin-bottom: 100px;
    margin-right: 100px;
}

.themeOpt:hover {
    box-shadow: 8px 8px 15px black;
}

#klev {
    background-image: -webkit-linear-gradient(45deg, rgba(18,18,18,1) 50%, rgba(10,79,32,1) 50%);
    color: white;
    text-shadow: 1px 1px 2px black;

}

#beach {
    background-image: -webkit-linear-gradient(45deg, #DECBA4 50%, #3E5151 50%);
    color: white;
    text-shadow: 1px 1px 2px black;
}

#dawn {
    background-image: -webkit-linear-gradient(45deg, #302b63 50%, #0f0c29 50%);
    color: white;
    text-shadow: 1px 1px 2px black;

}

.selectedKlev {
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(10,79,32,1) 100%);
    transition: 0.2s;
}

.selectedBeach {
    background-color: #3E5151;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    transition: 0.2s;
}

.selectedDawn {
    background-color: #302b63;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    transition: 0.2s;
}

.klev:hover {
    background-color:rgba(10,79,32,1);
}

.beach:hover {
    background-color:#3E5151;
}

.dawn:hover {
    background-color:#302b63;
}

.addBorder {
    border: 3px solid white;
}
